In [2]:
import mysql.connector

In [3]:
db = mysql.connector.connect(
    host = "localhost", 
    user = "root",
    passwd = "root",
    database = "test"
    )

In [4]:
mycursor = db.cursor()

In [9]:
#mycursor.execute("CREATE DATABASE test")

In [12]:
#mycursor.execute("CREATE TABLE room_type (room_type_id int, room_type varchar(50))")

In [5]:
mycursor.execute("DESC room_type")

In [10]:
for x in mycursor:
    print(x)

(1, 'Large')

In [1]:
import streamlit

In [7]:
mycursor.execute("INSERT INTO room_type values(1, 'Large')")

In [9]:
mycursor.execute("SELECT * from room_type")